
.viñeta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 650px;
    background-color: rgba(43, 208, 226, 0);
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 1%;
}

.personaje{
    display: flex;
    justify-content: center;
    width: 80.5%;
    height: 67.5%;
    border-radius: 10px;
    background-color: rgba(137, 43, 226, 0);
    margin-left: 35.5px;
    margin-top: 2px;
    border-color: black;
    border: solid;

}

.botones {
  display: flex;
  justify-content: space-between; 
  width: 90%; 
  padding-left: 20px;
  padding-top: 10px;
}

button {
  border-radius: 5px;
  background-color: rgba(172, 19, 98, 0.758);
  border: none;
  color: #fff;
  font-size: 25px;
  padding: 15px;
  width: 150px; 
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
  margin: 0 10px; 
  position: relative;
  transition: 0.5s;
}

.alante:after {
  content: '»'; 
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.alante:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.alante:hover:after {
  opacity: 1;
  right: 10px;
}


.atras:after {
  content: '«'; 
  position: absolute;
  opacity: 0;
  top: 14px;
  left: -20px;
  transition: 0.5s;
}

.atras:hover {
  padding-left: 24px;
  padding-right: 8px;
}

.atras:hover:after {
  opacity: 1;
  left: 10px;
}

  .num{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    height: 10px;
    margin-bottom: 35px;
  }

/* tablet */
@media screen and (max-width: 1024px) {
  
  .viñeta {
    width: 350px;
    height: 600px;
    margin-left: 25%;
    padding-top: 100px;
  }

.personaje {
    width: 90%;
    height: 60%;
    margin-left: 20px;
    margin-top: 10px;
  }
  .botones {
    width: 100%;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 90px;
  }

  button {
    font-size: 25px;
    padding: 12px;
    width: 150px;
  }
  

  .num {
    font-size: 35px;
    margin-bottom: 20px;
    color: #fff;
  }
}

/* moviles*/
@media screen and (max-width: 768px) {


.viñeta {
  width: 300px;
  height: 500px;
  margin-left: 18%;
  padding-top: 100px;
}

.personaje {
  width: 95%;
  height: 50%;
  margin-left: 10px;
  margin-top: 5px;
}
.botones {
  width: 100%;
  justify-content: space-around;
  padding-left: 10px;
  padding-top: 200px;
  
}

button {
  font-size: 25px;
  padding: 12px;
  width: 150px;
}


.num {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}
}


