.carta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    height: 420px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: 0%;
    margin-top: 0%;
    border: solid;
}

.foto{
    background-size: cover;
    height: 40%;
    width: 100%;
    border-radius: 10px;
    flex-direction: row; 
}
.icono{
    background-size: cover;
    height: 220%;
    width: 100%;
    border-radius: 10px;
    flex-direction: row;
    z-index: 1;
    padding-top: 0%;
}

.media {
    position: absolute; 
    height: 31.7126%; 
    width: 60px; 
    background: linear-gradient(to top, rgb(122, 29, 172), rgba(159, 22, 233, 0.445));
    z-index: 2; 
    padding: 0; 
    margin-top: 0;
    border-radius: 10px 0 0 0;
    text-align: center;
    font-size: 50px;
}

.estadisticas{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45%;
    margin-top: 20%;
    border-radius: 0 0 10px 10px;
    background-color: rgb(119, 19, 172);
}

